@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@600&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

@theme {
  --color-primary: #5044e5;
}
